# Getting Started with Python

## Basic Arithmetic

In [19]:
a = 8
b = 3
type(a)

int

In [3]:
a+b

11

In [4]:
a-b

5

In [5]:
a*b

24

In [6]:
a//b

2

In [7]:
a%b

2

In [8]:
a/b

2.6666666666666665

In [9]:
a**b

512

## Basic Strings

In [18]:
s = "python"
type(s)

str

In [17]:
s[:2]

'py'

In [11]:
s[2:4]

'th'

In [12]:
s.upper()

'PYTHON'

In [13]:
s.capitalize()

'Python'

In [14]:
s.lower()

'python'

In [15]:
s.split('t')

['py', 'hon']

In [16]:
s[2]

't'

In [67]:
x = 'Hello'
y = "World"

x + ' ' + y

'Hello World'

In [68]:
x*3

'HelloHelloHello'

## Sequential Data Types

1. List

In [23]:
cities = ['London', 'Pune', 'NY']
type(cities)

list

In [22]:
cities[1]

'Pune'

In [24]:
len(cities)

3

In [28]:
cities[-1]

'NY'

In [30]:
cities[:-1]

['London', 'Pune']

In [31]:
cities[1:3]

['Pune', 'NY']

In [33]:
country_cap = [['India','Delhi'], ['UK','London']]

In [34]:
country_cap[1]

['UK', 'London']

In [40]:
country_cap[1][1]

'London'

In [71]:
l1 = [1, 'hello', True]

type(l1[0])

int

In [72]:
type(l1[1])

str

In [73]:
type(l1[2])

bool

In [74]:
l1[1]='bye'

In [75]:
l1

[1, 'bye', True]

In [76]:
l1.append('append')
l1

[1, 'bye', True, 'append']

In [77]:
l1.pop()

'append'

In [78]:
l1.insert(1, 'At Position 1')
l1

[1, 'At Position 1', 'bye', True]

In [79]:
#Add whole list at same index
l1.append(cities)
l1

[1, 'At Position 1', 'bye', True, ['London', 'Pune', 'NY']]

In [80]:
#Add Elements 
l1.extend(cities)
l1

[1,
 'At Position 1',
 'bye',
 True,
 ['London', 'Pune', 'NY'],
 'London',
 'Pune',
 'NY']

In [86]:
x = [1, 2, 3]
y = [4, 5, 6]

x+y

[1, 2, 3, 4, 5, 6]

In [87]:
2 in x

True

In [88]:
x.remove(2)
x

[1, 3]

2. Tuple

In [59]:
#Cant change a Tuple after definition
t = ("Tuple", "are", 'Immutable')
type(t)

tuple

In [60]:
t[0]

'Tuple'

In [61]:
t[0] = 'Trying to change'

TypeError: 'tuple' object does not support item assignment

3. Dictionary

In [89]:
city_population = {"New York City": 8_550_405, 
                   "Los Angeles": 3_971_883, 
                   "Toronto": 2_731_571, }

In [92]:
city_population['Toronto']

2731571

In [93]:
type(city_population['Toronto'])

int

In [94]:
city_population.keys()

dict_keys(['New York City', 'Los Angeles', 'Toronto'])

In [95]:
city_population.items()

dict_items([('New York City', 8550405), ('Los Angeles', 3971883), ('Toronto', 2731571)])

In [96]:
len(city_population)

3

In [97]:
'Toronto' in city_population

True

In [99]:
del city_population['Toronto']
city_population

{'New York City': 8550405, 'Los Angeles': 3971883}

In [104]:
#MERGEING DICTIONARIES
knowledge = {"Frank": {"Perl"}, "Monica":{"C","C++"}}
knowledge

{'Frank': {'Perl'}, 'Monica': {'C', 'C++'}}

In [105]:
knowledge.update(city_population)
knowledge

{'Frank': {'Perl'},
 'Monica': {'C', 'C++'},
 'New York City': 8550405,
 'Los Angeles': 3971883}

4. Sets

In [8]:
#Keeps Unique items
x = set("C++ Python Java")
type(x)

set

In [9]:
x

{' ', '+', 'C', 'J', 'P', 'a', 'h', 'n', 'o', 't', 'v', 'y'}

In [11]:
x = set(["Perl", "Python", "Java"])
x

{'Java', 'Perl', 'Python'}

In [12]:
x.add('C++')

In [13]:
x

{'C++', 'Java', 'Perl', 'Python'}

In [15]:
x.remove('C++')

KeyError: 'C++'