# Getting Started with Python

## Basic Arithmetic and String Operations

In [21]:
a = 8
b = 3

type(a)

int

In [19]:
print('Addition       :', a+b)

print('Substraction   :', a-b)

print('Multiplication :', a*b)

print('Division       :', a/b)

print('Modulus        :', a%b)

print('Floor Division :', a//b)

print('Exponentiation :', a**b)

Addition       : 11
Substraction   : 5
Multiplication : 24
Division       : 2.6666666666666665
Modulus        : 2
Floor Division : 2
Exponentiation : 512

In [25]:
t = True
f = False

type(t)

bool

## String Operations

In [6]:
text = 'GettinG StarteD WitH PythoN'
 
print(text)

<class 'str'>

In [8]:
print('Upper Case: ', text.upper())

print('Lower Case: ', text.lower())
 
print('Title Case: ', text.title())

Upper Case:  GETTING STARTED WITH PYTHON
Lower Case:  getting started with python
Title Case:  Getting Started With Python

In [26]:
text.replace('PythoN', 'Java')

'GettinG StarteD WitH Java'

In [29]:
text.split('WitH')

['GettinG StarteD ', ' PythoN']

In [34]:
text[0:7]

'GettinG'

In [31]:
'  Hello  '.strip()

'Hello'

## Sequential Data Types

# 1. Lists

Lists are just like dynamic sized arrays, declared in other languages (vector in C++ and ArrayList in Java).

In [23]:
cities = ['London', 'Pune', 'NY']
type(cities)

list

In [22]:
cities[1]

'Pune'

In [24]:
len(cities)

3

In [28]:
cities[-1]

'NY'

In [30]:
cities[:-1]

['London', 'Pune']

In [31]:
cities[1:3]

['Pune', 'NY']

In [33]:
country_cap = [['India','Delhi'], ['UK','London']]

In [34]:
country_cap[1]

['UK', 'London']

In [40]:
country_cap[1][1]

'London'

In [71]:
l1 = [1, 'hello', True]

type(l1[0])

int

In [72]:
type(l1[1])

str

In [73]:
type(l1[2])

bool

In [74]:
l1[1]='bye'

In [75]:
l1

[1, 'bye', True]

In [76]:
l1.append('append')
l1

[1, 'bye', True, 'append']

In [77]:
l1.pop()

'append'

In [78]:
l1.insert(1, 'At Position 1')
l1

[1, 'At Position 1', 'bye', True]

In [79]:
#Add whole list at same index
l1.append(cities)
l1

[1, 'At Position 1', 'bye', True, ['London', 'Pune', 'NY']]

In [80]:
#Add Elements 
l1.extend(cities)
l1

[1,
 'At Position 1',
 'bye',
 True,
 ['London', 'Pune', 'NY'],
 'London',
 'Pune',
 'NY']

In [86]:
x = [1, 2, 3]
y = [4, 5, 6]

x+y

[1, 2, 3, 4, 5, 6]

In [87]:
2 in x

True

In [88]:
x.remove(2)
x

[1, 3]

# 2. Tuples

A Tuple is a collection of Python objects separated by commas. In some ways, a tuple is similar to a list in terms of indexing, nested objects, and repetition but a tuple is immutable, unlike lists that are mutable.

In [59]:
#Cant change a Tuple after definition
t = ("Tuple", "are", 'Immutable')
type(t)

tuple

In [60]:
t[0]

'Tuple'

In [61]:
t[0] = 'Trying to change'

TypeError: 'tuple' object does not support item assignment

# 3. Dictionaries

Dictionary in python is an ordered (since Py 3.7) [unordered (Py 3.6 & prior)] collection of data values, used to store data values like a map, Dictionary holds key:value pair.

In [89]:
city_population = {"New York City": 8_550_405, 
                   "Los Angeles": 3_971_883, 
                   "Toronto": 2_731_571, }

In [92]:
city_population['Toronto']

2731571

In [93]:
type(city_population['Toronto'])

int

In [94]:
city_population.keys()

dict_keys(['New York City', 'Los Angeles', 'Toronto'])

In [95]:
city_population.items()

dict_items([('New York City', 8550405), ('Los Angeles', 3971883), ('Toronto', 2731571)])

In [96]:
len(city_population)

3

In [97]:
'Toronto' in city_population

True

In [99]:
del city_population['Toronto']
city_population

{'New York City': 8550405, 'Los Angeles': 3971883}

In [104]:
#MERGEING DICTIONARIES
knowledge = {"Frank": {"Perl"}, "Monica":{"C","C++"}}
knowledge

{'Frank': {'Perl'}, 'Monica': {'C', 'C++'}}

In [105]:
knowledge.update(city_population)
knowledge

{'Frank': {'Perl'},
 'Monica': {'C', 'C++'},
 'New York City': 8550405,
 'Los Angeles': 3971883}

# 4. Sets
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Pythonâ€™s set class represents the mathematical notion of a set.

In [108]:
#Keeps Unique items
x = set("C++ Python Java")
type(x)

set

In [109]:
x

{' ', '+', 'C', 'J', 'P', 'a', 'h', 'n', 'o', 't', 'v', 'y'}

In [36]:
x = set(["Perl", "Python", "Java"])
x

{'Java', 'Perl', 'Python'}

In [41]:
x.add('C++')

x

{'C++', 'Java', 'Perl', 'Python'}

In [42]:
x.remove('C++')

x

{'Java', 'Perl', 'Python'}

In [43]:
A = {0, 2, 4, 6, 8};
B = {1, 2, 3, 4, 5};
  
# union
print("Union :", A | B)
  
# intersection
print("Intersection :", A & B)
  
# difference
print("Difference :", A - B)
  
# symmetric difference
print("Symmetric difference :", A ^ B)

Union : {0, 1, 2, 3, 4, 5, 6, 8}
Intersection : {2, 4}
Difference : {0, 8, 6}
Symmetric difference : {0, 1, 3, 5, 6, 8}

# Conditions and Loops

In [44]:
level = -5

if level < 0:
    print("negative")
elif level == 0:
    print("null")
else: # level > 0
    print("positive")

negative

In [45]:
x = [1, 2, 3]
i = 0
while i < len(x):
  print(x[i])
  i += 1

1
2
3

In [46]:
for i in range(len(x)):
  print(x[i])

1
2
3

In [48]:
animals = ['dog', 'cat', 'monkey', 'bear']

for i in animals:                
    print(i)

dog
cat
monkey
bear

# List Comprehensions

In [49]:
nums = [0, 1, 2, 3, 4]

squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

In [50]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x < 5]
print(even_squares)

[0, 1, 4, 9, 16]

# Basic Function Implementation

In [62]:
#Function that accepts 2 values and returns the sum
def sf(x, y):
    print(x+y)

sf(1, 2)

3

In [4]:
sf('a','b')

ab

In [9]:
def sf_(*x):
    print(x, type(x), sep='-------')

sf_(1,2,3)

(1, 2, 3)-------<class 'tuple'>

In [16]:
def sf_(**args):
    print(args, type(args), sep='-------')

sf_(x=1,y=2,z=3)

{'x': 1, 'y': 2, 'z': 3}-------<class 'dict'>

In [17]:
def get_mean(*l):
    sm = 0
    for i in l:
        sm += i
    return sm/(len(l)-1)

get_mean(1,2,3,4)

3.3333333333333335

In [21]:
l = [1,2,3,4]
get_mean(*l)

3.3333333333333335

## Lambda

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [61]:
x = lambda a, b : a * b
print(x(5, 6))

30

# Basic Classes Implementation

Class is a Blueprint of an object. An object contains| both data(Attributes) and code(Functions). 

### Instance Method
- Can Modify Object State.
- Can Access both class and instance variables

### Class Method
- Can Modify Class State.
- Can Access only Class Variables.

### Static Method
- Can't Modify any Class and Object State.
- Can't Access either Class or Instance Variables, need to pass them as parameters.

In [41]:
import math

class Pizza:
    #Class Variable
    medium = 'Medium'
    #Private Class Variable
    __large = 'Large'
    def __init__(self, radius, ingredients):
        #Instance Variables
        self.radius = radius
        self.ingredients = ingredients

    @classmethod
    def c_area(cls):
        return cls.__large

    def area(self):
        return self.circle_area(self.radius)

    @staticmethod
    def circle_area(r):
        return r ** 2 * math.pi

- __init__ method is a constructor. it is executed automatically when object of the class is created.
- By default all variables in class are public.
- use single underscore(_x) to make it protected (Accesible within class and it's subclasses)
- use Double underscore(__x) to make it private (Accesible within the Class)

In [42]:
cb = Pizza(7, 'Cheese')

In [25]:
cb.radius

7

In [27]:
cb.circle_area(7)

153.93804002589985

In [28]:
cb.area()

153.93804002589985

In [43]:
cb.c_area()

'Large'

In [45]:
cb.medium

'Medium'

## Inheritence Implementation

In [2]:
# Parent class
class Company:
    def __init__(self):
        # Protected member
        self._project = "NLP"

# child class
class Employee(Company):
    def __init__(self, name):
        self.name = name
        Company.__init__(self)

    def show(self):
        print("Employee name :", self.name)
        # Accessing protected member in child class
        print("Working on project :", self._project)

c = Employee("xyz")
c.show()

# Direct access protected data member
print('Project:', c._project)

Employee name : xyz
Working on project : NLP
Project: NLP

## Abstract Classes
- We cannot Instantiate Abstract Class
- Abstract Class has Abstract Method.
- Abstract Method has a declaration but no implementation (Pass)

In [4]:
from abc import ABC,abstractmethod
 
class Animal(ABC):
    @abstractmethod
    def move(self):
        pass
class Human(Animal):
    def move(self):
        print("I can walk and run")
 
class Snake(Animal):
    def move(self):
        print("I can crawl")

In [5]:
c=Animal()

TypeError: Can't instantiate abstract class Animal with abstract methods move

In [7]:
c = Human()
c.move()

I can walk and run

In [10]:
from abc import ABC,abstractmethod
 
class Animal(ABC):
    @abstractmethod
    def move(self):
        print('Abstract Method Printing')
class Human(Animal):
    def move(self):
        super().move()
        #Super helps call parent functions
        print("I can walk and run")

In [11]:
d = Human()
d.move()

Abstract Method Printing
I can walk and run

## Pandas